@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-flow__controls {
    display: flex !important;
    flex-direction: column !important;
    background-color: #1a1438 !important;
    border: 1px solid #2c145e !important;
    border-radius: 8px !important;
    box-shadow: 0 0 15px rgba(0,0,0,0.5) !important;
    overflow: hidden !important;
}

.react-flow__controls-button {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #2c145e !important;
    fill: #c4b5fd !important;
    color: #c4b5fd !important;
    transition: all 0.2s !important;
    border-radius: 0 !important;
}

.react-flow__controls-button:last-child {
    border-bottom: none !important;
}

.react-flow__controls-button:hover {
    background-color: #2c145e !important;
    fill: #ffffff !important;
    color: #ffffff !important;
}
